click==6.7
Django==2.2.24
Flask==1.0.2
Flask-SQLAlchemy==2.3.2
gunicorn==19.8.1
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
PyMySQL==0.8.1
pytz==2018.4
SQLAlchemy==1.2.8
virtualenv==16.0.0
virtualenvwrapper-win==1.2.5
Werkzeug==0.14.1
